.edit-header {
  text-align: center;
}

.individual-book {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid;
  border-color: #C0C0C0
}

.individual-book > * {
flex: 1;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.column-name {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.entire-book-column {
  margin-top: 50px;
}
